.expense__item {
  background: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.expense__item--detail {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.expense__item--detail h2 {
  font-size: 2rem;
}
.expense__item--price {
  background: green;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 4px solid #fff;
}
