#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 140px;
}

h2 {
  font-size: 50px;
  background: purple;
  display: inline;
  padding: 40px 80px;
}