.two-states__container {
  padding: 2rem;
  background: #0071e2;
}

.two-states__container input {
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.two-states__container p {
  font-size: 3rem;
  margin-bottom: 1rem;
}
