#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 15rem;
}

button {
  padding: 10px 20px;
  font-size: 3rem;
  background: orange;
  color: #000;
  outline: none;
  border: none;
  border-radius: 9px;
  cursor: pointer;

}

button:active {
  transform: scale(.96);
}