* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
  width: 60%;
}
