* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  padding: 5rem;
}
