.onchange__container {
  padding: 2rem;
  background: #0071e2;
}

.onchange__container input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
}

.output {
  margin-top: 0.5rem;
  font-size: 1.8rem;
  word-wrap: break-word;
  padding: 1rem 0;
}
.onchange__container button {
  background: red;
  color: #fff;
}
