#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  font-size: 9rem;
  text-align: center;
}

button {
  background: purple;
  padding: 10px 20px;
  font-size: 6rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  /* margin-left: 50px; */
}

button:active {
  transform: scale(.98);
}



.parent {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: flex;
  gap: 50px;
}