:root {
  --dark-mode-bg: #000;
  --dark-mode-color: #fff;
}

html {
  font-size: 62.5%;
}

button {
  font-size: 7rem;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  background: purple;
  color: #fff;
}

button.dark body {
  background: #000;
}

button.light body {
  background: #e3e3e3;
}