#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  font-size: 9rem;
}

button {
  background: purple;
  padding: 10px 20px;
  font-size: 6rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:active {
  transform: scale(.98);
}